/* Authors: Matthew Groh, Aidan Day, Blake Nygren, Jack Volonte */


/* Header Elements */

.headCard {
    text-align: right;
    height: 40%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #9A00F5;
    position: absolute; /*must be absolute*/
    z-index: 1;
    border-bottom: solid black 2px;
}

#back {
    z-index: 3;
    position: absolute;
}

#name {
    margin-right: 30px;
    font-size: 3.5em;
}

#manageRequest {
    margin-right: 30px;
    margin-top: 10px;
    font-size: 1.0em;
    border: solid black 2px;
    cursor: pointer;
}

#request {
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 1.0em;
    background-color: #D7F80D;
    border: solid black 2px;
    cursor: pointer;
}


/* Body Elements */

#product-info {
    display: flex;
    height: auto;
    width: 100%;
}

.stat_title {
    color: #9A00F5;
}

#images_div {
    background-color: white;
    width: 50%;
    margin-top: 200px;
    margin-left: 50px;
}

.main_image {
    height: auto;
    width: 30%;
    position: absolute;
    margin-left: 50px;
    border: black 2px solid;
    margin-top: 100px;
    z-index: 2;
}

#main_image_div {
    height: 150px;
}

#sub-images {
    display: flex;
    margin-top: 200px;
}

.alt-images {
    border-color: gray;
}

.sub-img-style {
    width: 50%;
    display: block;
    border: 2px solid #000000;
    cursor: pointer;
}

#product-stats {
    width: 50%;
    margin-top: 7%;
}

#description_div {
    width: 100%;
    margin-left: 50px;
}

#item-description {
    margin-right: 50px;
}

.column {
    float: left;
    width: 15.00%;
    padding: 15px;
}

.column_right {
    float: left;
    transform: scaleX(-1);
    width: 15.00%;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}