/* Remove Page Margin */
body {
    margin: 0;
    padding: 0;
    position: relative;
    /*These two lines remove weird gap on right of page */
    width: 100vw;
    overflow-x: hidden;
}


/* add space for footer */
body::after {
    content: '';
    display: block;
    height: 4%;
}

/* The a selector for the UP nav bar logo*/
#upLogoLink {
    height: 100%;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
}

/* Update Size & Location Of Nav Bar Logo*/
#upNavLogo {
    max-width: 10vw;
    min-width: 5em;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

/* Top Nav Bar Styles */
#topNavBar {
    background-color: #1e1656;
    /* background-image: linear-gradient(316deg, #6c33a3 0%, #1e1656 74%); */
    /* margin-bottom: 2vh; */
    overflow: hidden;
    position: relative;
}

/* Nav Bar Link Styles */
.navBarLinks {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 5vh;
    float: right;
    margin-top: 1.5vh;
    margin-right: 2.5vw;
    margin-bottom: 1.5vh;
    font-family: 'Hattori Hanzo Light', arial;
}

/*  Nav Bar Link Hover Styles*/
.navBarLinks:hover {
    background-color: #100a3a;
    /* WORK ON LATER */
    /* margin-top: 0;  */
}

/*  Nav Bar Active Link Style*/
.navBarLinks:active {
    color: #3d3281;
}


/* Responsive navbar */
@media only screen and (max-width: 700px) {
    /* Nav Bar Link Styles */
    .navBarLinks {
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 5vw;
        float: right;
        margin-top: 1.5vh;
        margin-right: 2.5vw;
        margin-bottom: 1.5vh;
        font-family: 'Hattori Hanzo Light', arial;
    }
}

/*  Set Main Selection Bar Color */
#mainSelectionBar {
    background-color: #F5F5F5;
    position: relative;
    padding-top: .1vh;
}

/*  Set Properties of Rental Catalog Header */
#title {
    text-align: center;
    font-family: 'Open Sans Bold', arial;
    font-size: 3vh;
}

/* Alignment and positioning of the searchBar div */
.searchBar {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Alignment and positioning of the search bar, including the buttons */
.search-bar{
    width: 60%;
    padding: 5px;
    display: flex; 
}

/* search box style and size */
form.search-bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-right: none;
    width: 100%;
    background: #f1f1f1;
    align-items: center;
}

/* search bar button style and size */
form.search-bar button {
    width: 3em;
    padding: 10px;
    background: #3d3281;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
}

/* search bar button color when hovered*/
form.search-bar button:hover {
    background: #1e1656;
}

/* item categories container */
#categories {
    display: flex;
    width: 100vw;
    height: 25vh;
    padding: 1em 0 1.2em 0;
    margin-left: 0;
    margin-right: 0;
    gap: 1em;
    
}

/* Responsive categories */
@media only screen and (max-width: 1400px) {

    #categories {
        overflow-x: scroll;
    }
    .itemCategory {
        min-width:220px; /*14% of max-width*/
    }

    body {
        overflow-x: hidden i !important;
    }
}

/* item category */
.itemCategory {
    max-width: 1fr;
    width: 1fr;
    cursor: pointer;
    padding: .2em auto;
    transition: transform .1s;
 
    margin-right: auto;
    margin-left:  auto;

}



/* Enlarge the item category on hover */
.itemCategory:hover {
    transform: scale(1.05);
}

/* category image */
.categoryImage{
    object-fit: cover;
    width: 14em;
    height: 28vh;
    max-height: 90%; 
    margin-left: auto;
    margin-right: auto; 
    padding-right: 1;
    display: block;
}

/* title for category */
.categoryTitle {
    height: 10%;
    display: block;
    text-align: center;
    align-self: center;
    margin: .3em auto .3em auto;
    font-family: 'Hattori Hanzo Light', arial;
    font-size: 1.2em;
}

/* Item count display */
.bottomCatalogHeader {
    text-align: left;
    font-family: 'Open Sans', arial;
    padding: 30px;
}

/* Bottom catalog all items */
.bottomCatalogItems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Bottom catalog item */
.bottomIndividualItem {
    flex-basis: 12%;
    flex-grow: 1;
    padding: 4%;
    cursor: pointer;
}

/* Bottom catalog item images */
.bottomImage {
    max-width: 100%;
}

/* At 1400px and above, set flex-shrink/grow to 0 */
@media screen and (max-width: 1400px) {
    .bottomCatalogItems {flex-shrink: 0; flex-grow: 0;}
}

/* footer */
footer {
    background-color: #1e1656;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
    text-align: center;
    display: table;
}

/* footer text */
footer p {
    margin: 0;
    padding: 0 0;
    color: #F5F5F5;
    display: table-cell;
    vertical-align: middle;
}